:root {
  /* ===== PALET WARNA (UNGU) ===== */
  --bg-main: #FDFCF9;         
  --primary-purple: #8A2BE2; 
  --text-light: #FFFFFF;     
  --text-dark: #3D3D3D;     
  
  /* Font tetap sama */
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Montserrat', sans-serif;
  --font-nunito: 'Nunito', sans-serif; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--bg-main); 
  color: var(--text-dark); 
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* main {
  
} */